<form id= 'paypalForm' name='myForm' ng-submit='setOrder( $event )' action="https://www.paypal.com/cgi-bin/webscr" method="post">
<div class="container">
	<div class="row ">
		<div class="col-sm-12">
			
			<div ng-if='alert' class="alert alert-{{alert.type}}">{{alert.msg}}</div>
		
			<div ng-if="!cart.length && alert.type !='success' " class="alert alert-info ">Koszyk pusty, musisz koniecznie coś do niego włożyć ...</div>

			<div ng-if='cart.length'>
			<table class="table table-hover">
				<thead>
					<tr>
					<th>Nazwa</th>
					<th>Waga</th>
					<th>Cena</th>
					<th>Ilość</th>
					<th>Razem</th>
					<th>Usuń</th>
					</tr>
				</thead>
				<tbody >
					<tr ng-repeat='item in cart'>
					<td>{{item.name}}</td>
					<td>{{item.weight}} kg</td>
					<td>{{item.price | number:2}} zł</td>
					<td>
						<div class="form-group" ng-class="{'has-error': myForm.input{{$index}}.$error.required ||myForm.input{{$index}}.$error.number ||myForm.input{{$index}}.$error.max ||myForm.input{{$index}}.$error.min }">
						<input style="width:100px;" name='input{{$index}}' class='form-control' type="number" ng-model='item.qty' min='1' max='20'>
						</div>
						<span class='text-danger' ng-show='myForm.input{{$index}}.$error.required'>Podaj ilość</span>
						<span class='text-danger' ng-show='myForm.input{{$index}}.$error.number'>Tylko cyfry</span>
						<span class='text-danger' ng-show='myForm.input{{$index}}.$error.max'>Nie mamy tyle</span>
						<span class='text-danger' ng-show='myForm.input{{$index}}.$error.min'>Za mało...</span>
					</td>
					<td><strong>{{item.qty*item.price}} zł</strong></td>
					<td><button class='glyphicon glyphicon-trash btn btn-danger btn-xs' ng-click='removeItem( $index)'></button></td>
					</tr>
					
				</tbody>
			</table>
			</div>
			<strong><h2 class='text-right'>Wartość zamówienia: {{total()}}zł</h2></strong>

				
				
				  <input type="hidden" name="cmd" value="_cart">
				  <input type="hidden" name="upload" value="1">
				  <input type="hidden" name="business" value="poczta.adrianbienias@gmail.pl">
				  <input type="hidden" name="charset" value="utf-8">
				  <input type="hidden" name="currency_code" value="PLN">
					<div ng-repeat='item in cart'>
				  <input type="hidden" name="item_name_{{$index+1}}" value="{{item.name}}">
				  <input type="hidden" name="quantity_{{$index+1}}" value="{{item.qty}}">
				  <input type="hidden" name="amount_{{$index+1}}" value="{{item.price}}">
				  	</div>
				  <button type='button' ng-click='emptyCard()' class='btn btn-danger '>Wyczyść koszyk</button>
				  <input type="image" name="submit" ng-disabled='!myForm.$valid'
				    src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
				    alt="PayPal - The safer, easier way to pay online">
				


		</div>
		
	</div>
</div>
</form>