
<div class="container" >
	<div class="row">
        	<div class='col-sm-12'>
        		<div class="panel panel-default">
        		<div class="panel-body">
			   
        		<h2>{{product.name}}
				<span class='label label-warning pull-right'>cena: {{product.price | number:2}} zł</span>
        		</h2>
        		<h2><span class="label label-info pull-right">waga: {{product.weight}} kg</span></h2>
        		<p>{{product.desc}}</p>
        	
        		
				
				<a href="#/products" class='btn btn-success'>Powrót</a>
                <button ng-click='addToCart(product)' class='btn btn-warning'>Dodaj do koszyka</button>
                
        	</div>
        	</div>
        	</div>

    </div>
</div>
